html{
    background-color: rgb(250, 244, 248);
}
body{
    background: rgb(235, 223, 230);
    margin: 20px;
    padding: 20px;
    color: black;
    border-color: chocolate;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 
}


section{
    display: flex; 
}
h1{
    border-bottom:dotted rebeccapurple;
}

#title{ 
    color: red;
}

h2{
    
    font-weight: bold;
    color: rgb(104, 69, 6);
}
h3{
    color:black;
    font-weight: bold;
}

img{
    width: 400px;
    height:250px; 

}
.biriyani{
    width: 400px;
    height:250px; 
    margin-left:250px;  
}
.biriyani-info{
    margin-right:30px;
}
.article1{
    border-right: 1px dotted black;
   
}

.floatleft-img{
    float:right;
    padding-left: 30px;

}
.article2{
    margin-left:20px;
}

[alt="ME"]{
    width: 400px;
    height:670px; 
}

.table{
    color:brown;
    border: 1px solid black;
    flex: 15px;
}

.two-column{
    margin-left:700px;
    margin-top:30px;
    display:flex;
    flex-direction: column;
}
.multiple-column{
    display: flex;
    flex-direction: column;
}

@media (max-width: 400px){
    #title{ 
        color: blue;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    section{
        display: inline; 
    }
    img {
        width: 250px;
        height: 150px;
    }
    .biriyani{
        width:250px;
        margin-left: 0;
        height: 150px;
    }
    
}


